body{
    margin: 0;
    background-color: black;
    padding:  20px 40px;
}

p{
    color: white;
    font-size: 20px;
    margin: 10px;
}

canvas{
    z-index: 0.5;
    position: absolute;
}

#picture{
    z-index: 0;
    position: absolute;
    left: 50px;
    top: 120px;
}